<div class="col-md-9">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-header">
        <h1>用户中心</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="alert alert-success bootstrap-admin-alert">
        <button class="close" type='button' data-dismiss='alert'>×</button>
        <h4>消息</h4>
        详情
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="navbar navbar-default bootstrap-admin-navbar-thin">
        <ol class="breadcrumb bootstrap-admin-breadcrumb">
          <li class='active'>
            <a href="">用户中心</a>
          </li>
          <li>111</li>
          <li>222</li>
        </ol>
      </div>
    </div>
  </div>
</div>
