<div class="col-md-9">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-header">
        <h1>管理员－图片管理</h1>
      </div>
    </div>
  </div>
  <div class="row" ng-controller='UserPhotoController'>
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="text-muted bootstrap-admin-box-title">
            图片管理
          </div>
          <div class="pull-right"><span class="badge">1,000</span></div>
        </div>
        <div class="panel-body">
          <button type="button" class="btn btn-primary" aria-label="Left Align" ng-click='takePhoto()'>
            <span class="glyphicon gglyphicon glyphicon-plus" aria-hidden="true">
            </span>
            添加照片
          </button>
          <button class="btn btn-success" aria-label="Left Align" ng-if="facePpPower.create" ng-click='uploader.createPerson()'>
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
            创建Fcae++
          </button>

          <button class="btn btn-info" aria-label="Left Align" ng-if="facePpPower.update" ng-click='uploader.updatePerson()'>
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
            更新Fcae++
          </button>
          <hr>

          <div class="row bootstrap-admin-light-padding-bottom">
              <div class="col-md-4" ng-repeat="photo in photos">
                  <div class="thumbnail">
                    <img ng-src="{{photo.path}}">
                    <div class="caption">
                      <p>
                        <button class="btn btn-info" ng-click="uploader.cloud(photo._id)" ng-if="!photo.cloudinary">
                          up2Cloud
                        </button>

                        <button class="btn btn-danger" ng-if='photo.cloudinary' ng-click="deleter.cloud(photo._id)">
                          del2Cloud
                        </button>
                      </p>
                      <p>
                        <button class="btn btn-info" ng-if='!photo.facePlusPlus' ng-click='uploader.facePP(photo._id)'>
                          up2Face++
                        </button>
                        <button class="btn btn-danger" ng-if='photo.facePlusPlus' ng-click="deleter.facePP(photo._id)">
                          del2Face++
                        </button>
                      </p>
                    </div>

                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src='/js/admin/extend/webcam.js'></script>