<div class="modal-header">
    <h3 class="modal-title">添加新类别</h3>
</div>
<div class="modal-body">
  <form action="#" name='add_cate' role="add_cate_form" class='form-horizontal'>
    <div class="form-group">
      <label for="name" class="col-md-3 control-label">名称:</label>
      <div class="col-md-9">
        <input type="text" class="form-control" id="name" placeholder='请输入分类名称:如PHP' ng-model='cate.name' />
      </div>
    </div>
    <div class="form-group">
        <label class='col-md-3 control-label' for="alias">别名:</label>
        <div class="col-md-9">
            <input ng-model='cate.alias' name='alias' type="text" placeholder= "添加别名如:ng" man-length='1' />
        </div>
    </div>
    <div class="form-group">
      <label for="pid" class="col-md-3 control-label">父类</label>
      <div class="col-md-9">
        <select class='form-control' ng-model='cate.pid' id='pid' ng-options='parentCate.name for parentCate in parentCates track by parentCate.name'>
        <option value=''>/</option>
        </select>
      </div>
    </div>

  </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="save()">保存</button>
    <button class="btn btn-warning" ng-click="cancel()">关闭</button>
</div>
