<div class="modal-header">
    <h3 class="modal-title">删除类别</h3>
</div>
<div class="modal-body">
  <form action="#" name='add_cate' role="add_cate_form" class='form-horizontal'>
    <div class="form-group">
      <label for="name" class="col-md-3 control-label">名称:</label>
      <div class="col-md-9">
        {{cateName}}
      </div>
    </div>
    <div class="form-group">
        <label class='col-md-3 control-label' for="newCate">类别名称:</label>
        <div class="col-md-9">
          {{cateType}}
        </div>
    </div>
    <div class="form-group">
      <label for="path" class="col-md-3 control-label">父类</label>
      <div class="col-md-9">
        {{catePid}}
      </div>
    </div>

  </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">删除</button>
    <button class="btn btn-warning" ng-click="cancel()">取消</button>
</div>