extends layout

//- block contentright
//-   .col-md-9
//-     //- 主题
//-     .row
//-       .col-lg-12
//-         .page-header
//-           h1 仪表盘
//-     //- 消息 中间件使用／ng消息
//-     .row
//-       .col-lg-12
//-         .alert.alert-success.bootstrap-admin-alert
//-           button.close(type='button',data-dismiss='alert') ×
//-           h4 消息
//-           | 消息详情
//-     .row
//-       .col-lg-12
//-         .navbar.navbar-default.bootstrap-admin-navbar-thin
//-           ol.breadcrumb.bootstrap-admin-breadcrumb
//-             li
//-               a(href="") 仪表盘
//-             li
//-               a(href="") 设置
//-             li 工具
