extends layout

block content
  .container
    .row(ui-view)
      .col-lg-12
        .alert.alert-info(style='width:400px;margin:0 auto 20px;')
          h4 HELLO Angular,Node,Express,jQ,Jade
        form.bootstrap-admin-login-form(ng-controller='LoginController',name='loginForm',ng-submit='loginSubmit()')
          h1 登录
          .form-group
            input.form-control(ng-model='user.name',required,type='text',ng-maxlength='15',name='username',placeholder='请输入用户名')
            .alert.alert-danger(ng-hide='!loginForm.username.$dirty || loginForm.username.$valid')
                span(ng-show='loginForm.username.$error.required') 请填写用户名
                span(ng-show='loginForm.username.$error.maxlength') 用户名不得超过15
          .form-group
            input.form-control(ng-model='user.password',required,type='password',name='password',placeholder='密码')
            .alert.alert-danger(ng-hide='!loginForm.password.$dirty || loginForm.password.$valid')
                span(ng-show='loginForm.password.$error.required') 密码不能为空 
          .form-group
            label
              input(ng-model='user.remeber',type='checkbox',name='user.remeber_me') 
              | 记住密码
          button.btn.btn-lg.btn-primary(type='submit',ng-disabled="!loginForm.$valid") 登录
          a.btn.btn-success.btn-lg.pull-right(href='#/webcam') 脸部识别
block footerjs
  //-<!-- build:js(.) #{env}/angular/scripts/admin/adminLogin.js -->
  script(src='/angular/scripts/app.js')
  script(src='/angular/scripts/controllers/admin/login.js')
  //-<!--endbuild-->
  //- script(src='/js/admin/extend/webcam.js')

          

