extends layout

block contentleft
    .col-md-3.bootstrap-admin-col-left
        ul.nav.navbar-collapse.bootstrap-admin-navbar-side
            li.active
                a(href="#/")
                    i.glyphicon.glyphicon-dashboard
                    |  用户中心
            li
                a(href="#/photo") 照片管理

block footerjs
    //-<!-- build:js(.) #{env}/angular/scripts/admin/adminUser.js -->
    script(src='/angular/scripts/app.js')
    script(src='/angular/scripts/directive/adminExtDirective.js')
    script(src='/angular/scripts/route/adminUser.js')
    script(src='/angular/scripts/controllers/admin/adminUserCtrl.js')
    //-<!--endbuild-->