<div class='col-md-9' ng-controller="ArticleAddController">
  <div class='row'>
      <div class='col-lg-12'>
          <div class='page-header'>
              <!--单项绑定-->
              <h1>添加文章</h1>
          </div>
      </div>
  </div>
  <div class='row'>
      <div class='col-lg-12'>
          <div class='panel panel-default bootstrap-admin-no-table-panel'>
              <div class='panel-heading'>
                  <div class='text-muted bootstrap-admin-box-title' ng-bind='tableName'></div>
              </div>
              <div class="panel-body">
                 <form name='add_article' class='form-horizontal'>
                   <fieldset>
                     <legend ng-bind='tableName'></legend>
                     <div class="form-group">
                       <label for="title" class="col-md-2 control-label">标题:</label>
                       <div class="col-md-10">
                        <input type="text" class='form-control' id='title' ng-model='newArticle.title'/> 
                       </div>
                     </div>
                     <div class="form-group">
                      <label for="cate" class="col-md-2 control-label">类别:</label>
                      <div class="col-md-10">
                        <select id="cate" class="form-control" ng-model='newArticle.cate'  ng-options='cate.name for cate in cates track by cate.name'>
                          <option value="">-- 请选择 --</option>
                        </select>
                      </div>
                     </div>
                     <div class="form-group">
                      <label for="type" class="col-md-2 control-label">格式:</label>
                      <div class="col-md-10">
                        <select id="type" class="form-control" ng-model='newArticle.type' >
                          <option value="html">html</option>
                          <option value="md">markdown</option>
                        </select>
                      </div>
                     </div>
                     <div class="form-group">
                       <label for="keywords" class="col-md-2 control-label">关键词:</label>
                       <div class="col-md-10" for="keword">
                         <tags-input ng-model="keyWords" name='keywords' type="text" placeholder= "添加标签,逗号分割" min-length='2' class='taginput'></tags-input>
                       </div>
                     </div>
                     <div class="form-group" ng-show="newArticle.type == 'html'">
                      <textarea ui-tinymce='tinymceOptions' ng-model="newArticle.contentHtml"></textarea>
                     </div>

                     <!-- 临时格式 -->
                     <div class="form-group"  ng-show="newArticle.type == 'md'">
                      <textarea ng-model="newArticle.contentMd" rows="20" cols='100' ></textarea>
                     </div>

                     <button type="submit" class="btn btn-primary" ng-click='ok()' >保存</button>
                     <button type="reset" class="btn btn-default">清除</button>
                   </fieldset>
                 </form>
              </div>
          </div>
          
      </div>

  </div>
</div>