<div class='col-md-9'>
  <div class='row'>
      <div class='col-lg-12'>
          <div class='page-header'>
              <!--单项绑定-->
              <h1 ng-bind='h1Title'></h1>
          </div>
      </div>
  </div>
  <div class='row'>
      <div class='col-lg-12'>
          <div class='panel panel-default bootstrap-admin-no-table-panel'>
              <div class='panel-heading'>
                  <div class='text-muted bootstrap-admin-box-title' ng-bind='tableName'></div>
              </div>
              <div class="panel-body">
                <button class="btn btn-primary" ng-click="open('lg')">
                  <span class="glyphicon glyphicon-plus">
                  </span>
                    添加幻灯片
                </button>
                <hr>

                <div class="col-lg-12" ng-repeat='carousel in carouselList'>
                  <div class="col-lg-6">
                    <p>
                      <img ng-src="{{carousel.imgSrc}}" class="img-responsive" />
                    </p>
                      
                  </div>
                  <div class="col-lg-6">
                    <button class='btn btn-warning'>
                      <span class='glyphicon glyphicon-pencil'></span>
                      修改
                    </button>
                    <button class="btn btn-danger" ng-click='singleRemove(carousel._id)'>
                      <span class='glyphicon glyphicon-trash'></span>
                        删除
                    </button>
                    <button class="btn btn-default" ng-show='!carousel.imgInCloud' ng-click='uploadCloud(carousel._id)'>
                      <span class="glyphicon glyphicon-cloud-upload">
                      </span>
                      Cloud
                    </button>
                    <button class="btn btn-primary" ng-show='carousel.imgInCloud' ng-click='delCloud(carousel._id)'>
                      <span class="glyphicon glyphicon-cloud"></span>
                      DelCloud
                    </button>
                    <button class="btn btn-default" ng-show='!carousel.status' ng-click='changeStatus(carousel._id)'>
                      <span class="glyphicon glyphicon-eye-open"></span>
                      激活
                    </button>
                    <button class="btn btn-success" ng-show='carousel.status' ng-click='changeStatus(carousel._id)'>
                      <span class="glyphicon glyphicon-eye-close"></span>
                      关闭
                    </button>
                  </div>
                </div>

              </div>
          </div>
          
      </div>

  </div>
</div>