<div class='col-md-9'>
  <div class='row'>
      <div class='col-lg-12'>
          <div class='page-header'>
              <h1>类别</h1>
          </div>
      </div>
  </div>
  <div class='row' ng-controller='CateController'>
      <div class='col-lg-12'>
          <div class='panel panel-default'>
              <div class='panel-heading'>
                  <div class='text-muted bootstrap-admin-box-title' ng-bind='tableName'></div>
              </div>
              <div class="panel-body">
                <button type="button" class="btn btn-primary" aria-label="Left Align" ng-click='open()'>
                  <span class="glyphicon gglyphicon glyphicon-plus" aria-hidden="true">
                  </span>
                  添加类别
                </button>
                <hr>
                <div class='gridStyle bootstrap-admin-panel-content' ng-grid='gridOptions'></div>
              </div>
          </div>
      </div>
  </div>
</div>