<div class="col-md-3 bootstrap-admin-col-left">
  <ul class="nav navbar-collapse bootstrap-admin-navbar-side">
    <li class="active">
      <a href="#/">
        <i class="glyphicon glyphicon-dashboard">
        </i>
        仪表盘
      </a>
    </li>
    <li>
      <a href="#/cate">类别</a>
    </li>
    <li>
      <a href="#/article">文章列表</a>
    </li>
    <li>
      <a href="#/article/add">发布文章</a>
    </li>
    <li>
      <a href="#/tag">标签列表</a>
    </li>
    <li>
      <a href="#/carousel">首页幻灯片</a>
    </li>
    <li>
      <a href="#/pictures">图片管理</a>
    </li>
  </ul>
</div>
