<div class='col-md-9'>
  <div class='row'>
      <div class='col-lg-12'>
          <div class='page-header'>
              <!--单项绑定-->
              <h1 ng-bind='h1Title'></h1>
          </div>
      </div>
  </div>
  <div class="row picture-list">
    <div class="col-lg-12">
      <div class='panel panel-default bootstrap-admin-no-table-panel'>
        <div class='panel-heading'>
            <div class='text-muted bootstrap-admin-box-title' > 图片管理</div>
        </div>
        <div class="panel-body">

          <button class="btn btn-primary" ng-click="open('lg')">
            <span class="glyphicon glyphicon-plus">
            </span>
              添加图片
          </button>

          <hr>

          <div class="row text-center ">
            <div class="col-lg-4 picture-item" ng-repeat="item in pictures">
              <div class="picture-item-pic ">
                <p class="thumbnail">
                  <img class="img-responsive picture-img"  ng-src="{{item.imgSrc}}" >
                </p>
              </div>
              <h5 >{{item.imgTitle}}</h5>
              <p class='text-left input-group' >
                <label  class="input-group-addon">Cloud Name:</label>
                <input class="form-control" type="text" ng-if="item.imgInCloud" ng-model="item.imgInCloud.public_id">
              </p>
              <p >
                <button class="btn btn-default" ng-show='!item.imgInCloud' ng-click='uploadCloud(item._id)' >
                  <span class="glyphicon glyphicon-cloud-upload">
                  </span>
                  Cloud
                </button>

                <button class="btn btn-primary" ng-show='item.imgInCloud' ng-click='delCloud(item._id)'>
                  <span class="glyphicon glyphicon-cloud"></span>
                  DelCloud
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
