extends layout


block middelContext
  .header-placeholder
  div(ui-view='banner')
  .container.main(ui-view='bodyer')
  div(ng-class='{overlay:view.scrollLeft}',ng-swipe-right='view.scrollLeft = false')

block rightSider
  div.visible-xs(ui-view='mobileRight')