extends layout


block middelContext
  .header-placeholder
  div(ui-view='banner')
  .middel-relative
    .container
      .main(class='{{pageClass}}',ng-class='{"useable-leave":useableLeave}',ui-view='bodyer')
  div(ng-class='{overlay:view.scrollLeft}',ng-swipe-right='view.scrollLeft = false')

block rightSider
  div.visible-xs(ui-view='mobileRight')