doctype html
html(lang='zh-CN',ng-app='theOneBlog')
    head
      meta(charset='UTF-8')
      meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no')
      //- bower:css
      //- endbower

      //- css3 特效
      //- link(rel='stylesheet',href='/components/animate.css/animate.css')
      link(rel='stylesheet',href='/css/home/bootstrap-theone-blog.css')
      script(src='http://localhost:35729/livereload.js')
      //- bower:js
      script(src='/components/jquery/dist/jquery.js')
      script(src='/components/es5-shim/es5-shim.js')
      script(src='/components/angular/angular.js')
      script(src='/components/angular-animate/angular-animate.js')
      script(src='/components/angular-aria/angular-aria.js')
      script(src='/components/angular-cookies/angular-cookies.js')
      script(src='/components/angular-messages/angular-messages.js')
      script(src='/components/angular-resource/angular-resource.js')
      script(src='/components/angular-sanitize/angular-sanitize.js')
      script(src='/components/angular-touch/angular-touch.js')
      script(src='/components/angular-ui-router/release/angular-ui-router.js')
      script(src='/components/angular-bootstrap/ui-bootstrap-tpls.js')
      script(src='/components/headroom.js/dist/headroom.js')
      script(src='/components/angular-strap/dist/angular-strap.js')
      script(src='/components/angular-strap/dist/angular-strap.tpl.js')
      //- endbower
    
    body(ng-controller='MainCtrl',ui-view='main')
      header#header.navbar.navbar-default.navbar-fixed-top(ui-view='header',headroom,offset='201',classes="{pinned:'fadeInDown',unpinned:'fadeOutUp',initial:'animated'}")
      div#leftSider.translate-side
      div#rightSider.translate-side
      div#middelContext.translate-side(ng-class='{"scorll-left":view.scollLeft}')
        block bodyer
          

        block footer
          .navbar.navbar-footer
              .container
                  .row
                      .col-lg-12
                          footer(role='conteninfo')
                              p.left theone.io
                              p.right &copy; 2015
    //- footer
    //- angular
    block angular
      script(src='/angular/scripts/home.js')
      script(src='/angular/scripts/route/homeRoute.js')
      script(src='/angular/scripts/controllers/home/mainCtrl.js')
      script(src='/angular/scripts/directive/myDirective.js')