doctype html
html(lang='zh-CN')
    head
      meta(charset='UTF-8')
      meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no')
      //- bower:css
      //- endbower
      //- bower:js
      script(src='/components/jquery/dist/jquery.js')
      script(src='/components/es5-shim/es5-shim.js')
      script(src='/components/angular/angular.js')
      script(src='/components/angular-animate/angular-animate.js')
      script(src='/components/angular-aria/angular-aria.js')
      script(src='/components/angular-cookies/angular-cookies.js')
      script(src='/components/angular-messages/angular-messages.js')
      script(src='/components/angular-resource/angular-resource.js')
      script(src='/components/angular-route/angular-route.js')
      script(src='/components/angular-sanitize/angular-sanitize.js')
      script(src='/components/angular-touch/angular-touch.js')
      script(src='/components/angular-ui-router/release/angular-ui-router.js')
      script(src='/components/ng-grid/build/ng-grid.js')
      script(src='/components/angular-bootstrap/ui-bootstrap-tpls.js')
      script(src='/components/tinymce/tinymce.min.js')
      script(src='/components/angular-ui-tinymce/src/tinymce.js')
      script(src='/components/ng-tags-input/ng-tags-input.min.js')
      //- endbower
    body
      h1 test

    block footer
      .navbar.navbar-footer
          .container
              .row
                  .col-lg-12
                      footer(role='conteninfo')
                          p.left theone.io
                          p.right &copy; 2015
    //- footer
    //- angular