<div class="container">
    <div class="row">
        <div class="col-sm-9">
          <!-- 主要内容-->
          <section>
            <div class="page-header">
              <h1>{{::article.title}}</h1>
              <aside>
                作者：{{::article.author.name}} <time>{{::article.updateTime}}</time>
              </aside>
            </div>
            <!-- 文章 -->
           <!--  <article ng-bind-html="article.content">
            </article> -->
            <article ng-include="'article.content.html'">
            </article>

          </section>
        </div>
        <div class="col-sm-3">
        </div>
      </div>

  </div>
