/**
 * article 切入
 */
.middel-relative {
  position: relative;
}

.article.ng-leave {
  position: absolute!important;
  top:0;
  width: 100%;
  animation-name: slideOutLeft;
  animation-duration: 1s;
  animation-fill-mode: both;
}
 // - 取消 article -> main 的动画
//  .article.ng-leave {
//   animation:none;
//   animation-duration: 0s;
// }

 .article.ng-enter {
  animation-name: slideInRight;
  animation-duration: 1s;
  animation-fill-mode: both;
 }

 .article-banner {
  background-color:$purple-color;
 }

 .docs-header {
  text-align: center;
  color: $banner-p-color;
  margin-bottom: 40px;
  font-size: 20px;
 }


 .docs-header h2 {
   margin-top: 0;
   color: #fff;
 }

 .docs-header p {
  margin-bottom: 0;
  font-weight: 300;
  line-height: 1.4;
 }

 .docs-header p.bounceInLeftD1 {
      animation-name: bounceInLeft;
      animation-delay: 0.5s;
 }

 // 文章详情的 pre
 article pre {
  background-color: #fff;
  border: none;
 }

// 最小屏幕
 @media screen and (max-width: $screen-sm-max) {
  .svg-banner {
    -webkit-transform: scale3d(.5, .5, .5) translate3d(-180px, 0, 0);
    -moz-transform: scale3d(.5, .5, .5) translate3d(-180px, 0, 0);
    -ms-transform: scale3d(.5, .5, .5) translate3d(-180px, 0, 0);
    transform: scale3d(.5, .5, .5) translate3d(-180px, 0, 0);
  }

 }


// 小屏 距离缩小
 @media screen and (min-width: $screen-sm-max) {
  .docs-header {
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 24px;
    text-align: left;
  }

  .docs-header h2, .docs-header p {
    margin-right: 380px;
  }

  .docs-header h2 {
    font-size: 60px;
    line-height: 1;
  }



 }
