/**
 * 移动设备 < 787
 */

/**
 *  hader 伸缩效果, 仅仅移动有效
 */
 .header-activate.fadeOutUpH {
   animation-name: fadeOutUp;
 }
 .header-activate.fadeInDownH {
    animation-name: fadeInDown;
  }



  /**
   * #rightSider mobile 滚动样式, 右侧
   * < $screen-xs-max
   */
  @media screen and (max-width: $screen-xs-max) {

    .overlay {
      position:fixed;
      width:100%;
      height: 120%;
      top:-10px;
      left:0;
      bottom:-10px;
      background-color:rgba(0,0,0,0.8);
      z-index:9999;
    }

    @keyframes fadeInRightM {
     from{transform : translate( 200px, 0px);}
        to{transform: none;}
    }

    .mobile-right {
      top: 0px;
      right:-200px;
    }

    .mobile-right-scroll {
      right:0px;
      animation-name: fadeInRightM;
      animation-duration: .20s;
      transition-timing-function : ease-out;
      background-color: $gray-light;
    }

    #rightSider {
      width:200px;
      background-color: $gray-light;
    }

  }
