<div class="container">
    <div class="row">
        <div class="col-sm-3 hidden-sm">

            <div class="hidden-print" data-offset-top="-80" bs-affix offsetUnpin='ccc'>
                <ul class="nav nav-pills nav-stacked search-aside">
                    <li ng-repeat="menu in search.menuKinds" class='animate-repeat' ng-class='{active:filterCate == menu._id}'>
                        <a href="javascript:void(0);" ng-click='setFilter(menu._id)'>{{menu.name}} <span class="badge pull-right">{{menu.resultNum}}</span></a>
                    </li>
                </ul>
              
            </div> 

        </div>

        <!-- right search context -->
        <div class="col-md-9">


             <!-- page-header -->
            <div class="row">
                <div class="col-md-12 col-lg-12 col-xs-12">
                    <div class="page-header">
                        <form action="">
                            <div class="row">
                                <div class="col-xs-10">
                                    <div class="form-group">
                                        <input type="text" class="form-control" ng-model="search.keyWord" placeholder="Search" />
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-default">搜索</button>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <p>
                                        搜索结果:
                                    </p>
                                </div>
                                <div class="col-xs-2 col-xs-offset-3">
                                        排序：<select>
                                          <option>1</option>
                                          <option>2</option>
                                        </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- page-header-end -->
            <div class="row">
                <div class="col-sm-12">

                    <div class="panel panel-primary" ng-repeat='result in search.resultList' >
                        <div class="panel-heading">
                            <div class="panel-title">
                                <a ng-href="/article/id/{{result._id}}">
                                    <span ng-bind-html='::result.title'></span>
                                </a>

                                <span class="badge pull-right bg-success" ng-repeat='tag in result.keyWords' ng-bind-html='::tag'></span>
                            </div>
                        </div>
                        <div class="panel-body">
                            <p ng-bind-html='::result.contentText'>
                            </p>
                        </div>
                    </div>


                </div>
            </div>


        </div>
    </div>
</div>