<div class="container" ng-controller="SearchCtrl">
    <div class="row">
        <div class="col-sm-3 hidden-sm">

            <div class="hidden-print" data-offset-top="-80" bs-affix offsetUnpin='ccc'>
              
                <ul class="nav nav-pills nav-stacked search-aside">
                    <li ng-repeat="menu in search.menuKinds" class='animate-repeat'>
                        <a href="#">{{menu.title}} <span class="badge pull-right">{{menu.resultNum}}</span></a>
                    </li>
                </ul>
              
            </div> 

        </div>

        <!-- right search context -->
        <div class="col-md-9">


        </div>
    </div>
</div>