<div class="bs-sidebar hidden-print" role="complementary" data-offset-top="-80" bs-affix>
  
  <ul class="nav bs-sidenav">
    <li data-target="#modals" bs-scrollspy>
      <a href="#modals">Modal</a>
      <ul class="nav">
        <li data-target="#modals-examples" bs-scrollspy><a href="#modals-examples">Examples</a></li>
        <li data-target="#modals-usage" bs-scrollspy><a href="#modals-usage">Usage</a></li>
      </ul>
    </li>
  </ul>


  <ul class="nav bs-sidenav" bs-scrollspy-list>
    <li>
      <a href="#modals">Modal</a>
      <ul class="nav">
        <li><a href="#modals-examples">Examples</a></li>
        <li><a href="#modals-usage">Usage</a></li>
      </ul>
    </li>
  </ul>

</div>
