<div class="row">
  <div class="col-xs-12">
    
    <div class="bs-sidebar hidden-print animated" role="complementary" data-offset-top="-80" bs-affix offsetUnpin='ccc'>
      
      <ul class="nav bs-sidenav">
        <li data-target="#modals" bs-scrollspy>
          <a href="#modals">Modal</a>
          <ul class="nav">
            <li data-target="#modals-examples" bs-scrollspy><a href="#/#modals-examples">Examples</a></li>
            <li data-target="#modals-usage" bs-scrollspy><a href="#/#modals-usage">Usage</a></li>
          </ul>
        </li>
      </ul>
      
    </div> 
  </div>
</div>
