<div class="row">
  <div class="col-xs-12">

    <div class="bs-sidebar hidden-print animated" role="complementary" data-offset-top="-80" bs-affix offsetUnpin='ccc'>

<!--
      <ul class="nav bs-sidenav">
        <li data-target="#modals" bs-scrollspy>
          <a href="#modals">Modal</a>
          <ul class="nav">
            <li data-target="#modals-examples" bs-scrollspy><a href="#/#modals-examples">Examples</a></li>
            <li data-target="#modals-usage" bs-scrollspy><a href="#/#modals-usage">Usage</a></li>
          </ul>
        </li>
      </ul>
-->
    <ul class="nav bs-sidenav scrollspy">
      <li data-target="#{{cate.alias}}" bs-scrollspy ng-repeat='cate in ::cates' data-offset='30' scroll-animate>
        <a href="#{{cate.alias}}" ng-bind='::cate.name'></a>
        <ul class="nav">
          <li data-target="#{{cate.alias}}-{{article._id}}" ng-repeat='article in ::cate.topArticles' bs-scrollspy scroll-animate>
              <a href="#{{cate.alias}}-{{article._id}}" ng-bind='article.title'></a>
            </li>
        </ul>
      </li>
    </ul>

    </div>
  </div>
</div>
