<div class="navbar-inner padding-scroll-bar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="changeCollapsed()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand visible-xs"  ng-href="/">TheOne Blog</a>
        </div>
        <nav class="hidden-xs">
            <ul class="nav navbar-nav">
                <a ng-href="/" role="button" class="navbar-brand">
                    TheOne Blog
                </a>
                <li>
                    <form class="navbar-form navbar-left" role="search" ng-submit='goSearch()'>
                        <div class="form-group">
                        <input type="text" class="form-control search-input animated" placeholder="Search" ng-model='search.keyWord' ng-class='{"search-input-long":search.keyWord}' ng-model-options="{ debounce: 300 }">
                        </div>
                        <button type="submit" class="btn btn-default">搜索</button>
                    </form>
                </li>
            </ul>
        </nav>

        <!-- mobile show -->
        <nav class="visible-xs" collapse="!headerView.isCollapsed" >
            <ul class="nav navbar-nav">
                <li><a href="http://self.theone.io" ng-click="headerView.isCollapsed = !headerView.isCollapsed" class="glyphicon glyphicon-user"> 个人简介</a></li>

                <li ng-repeat="cate in ::cateList">
                  <a href="/cate/{{cate.alias}}/" ng-click="changeCollapsed()" ng-bind="cate.name"></a>
                </li>
            </ul>
        </nav>
    </div>
</div>
