<div class="row" ng-class='{active:view.offCanvas}' ng-controller="MainArticleCtrl" >
  <!-- main-left -->
  <div class="col-sm-9 col-xs-12">
    <div class="row">

      <div class="col-xs-12" ng-repeat="article in ::articles">
        <h2 ng-bind='article.title'></h2>
        <p>{{::article.contentText}}</p>
         <p><a class="btn btn-default" ng-href="#/article/{{::article._id}}" role="button">访问详情 »</a></p>
      </div>


      <div class="col-xs-12">
          <!-- id 作为的bs-scrollsy 的锚点 -->
          <h2 id='modals-examples'>modals-examples</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#/article/1" role="button">View details »</a></p>
       </div>

       <div class="col-xs-12">
           <h2 id='modals-usage'>Modals-usage</h2>
           <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
           <p><a class="btn btn-default" href="#/article/2" role="button">文章详情»</a></p>
        </div>


       <div class="col-xs-12">
           <h2>Heading3</h2>
           <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
           <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div>


       <div class="col-xs-12">
           <h2>Heading4</h2>
           <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
           <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div>

    </div>
  </div>
  <!-- main-right -->
  <div class="col-sm-3 hidden-xs hidden-sm" ui-view='affix'>
  </div>
</div>