<div class="row row-offcanvas row-offcanvas-right" ng-class='{active:view.offCanvas}'>
  <!-- main-left -->
  <div class="col-sm-9 col-xs-12">
    <div ng-controller="CarouselCtrl">
      <div style="height: 305px">
          <carousel interval="myInterval">
            <slide ng-repeat="slide in slides" active="slide.active">
              <img ng-src="{{slide.image}}" style="margin:auto;">
              <div class="carousel-caption">
                <h4>Slide {{$index}}</h4>
                <p>{{slide.text}}</p>
              </div>
            </slide>
          </carousel>
        </div>
    </div>
  </div>
  <!-- main-right -->
  <div class="col-sm-3 sidebar-offcanvas">
    <ul class="list-group">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Morbi leo risus</li>
      <li class="list-group-item">Porta ac consectetur ac</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
  </div>


</div>